.elementor-348 .elementor-element.elementor-element-26d050d9.elementor-widget-heading .elementor-heading-title {color: #54595f;}
.elementor-348 .elementor-element.elementor-element-10f2d113.elementor-column .elementor-column-wrap {align-items: center;}
.elementor-348 .elementor-element.elementor-element-10f2d113.elementor-column > .elementor-column-wrap > .elementor-widget-wrap {align-content: center;}
.elementor-348 .elementor-element.elementor-element-11bed1fc .elementor-text-editor {text-align: right;}
.elementor-348 .elementor-element.elementor-element-68a19998 > .elementor-container {min-height: 79px;}
.elementor-348 .elementor-element.elementor-element-68a19998 > .elementor-container:after {content: "";min-height: inherit;}
.elementor-348 .elementor-element.elementor-element-68a19998:not(.elementor-motion-effects-element-type-background), .elementor-348 .elementor-element.elementor-element-68a19998 > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #f2f2f2;}
.elementor-348 .elementor-element.elementor-element-68a19998 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;margin-top: 0px;margin-bottom: 0px;padding: 0px 0px 0px 0px;}
.elementor-348 .elementor-element.elementor-element-68a19998 > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-348 .elementor-element.elementor-element-1f9f23e6 .elementor-spacer-inner {height: 10px;}
.elementor-348 .elementor-element.elementor-element-163dd4d7 .elementor-text-editor {text-align: center;}
.elementor-348 .elementor-element.elementor-element-163dd4d7 {color: #54595f;font-size: 25px;font-style: italic;line-height: .4em;}
.elementor-348 .elementor-element.elementor-element-229dfb91 {text-align: center;}
.elementor-348 .elementor-element.elementor-element-229dfb91.elementor-widget-heading .elementor-heading-title {color: #54595f;}
.elementor-348 .elementor-element.elementor-element-5a1faaa1 .elementor-spacer-inner {height: 25px;}
.elementor-348 .elementor-element.elementor-element-55d1c10f .elementor-text-editor {text-align: center;}
.elementor-348 .elementor-element.elementor-element-55d1c10f {font-size: 24px;line-height: .3em;}
.elementor-348 .elementor-element.elementor-element-6dc03d22 .elementor-text-editor {text-align: center;}
.elementor-348 .elementor-element.elementor-element-6dc03d22 {font-size: 23px;}
.elementor-348 .elementor-element.elementor-element-48643d7 .elementor-spacer-inner {height: 50px;}
.elementor-348 .elementor-element.elementor-element-dd27b97 {text-align: center;}
.elementor-348 .elementor-element.elementor-element-dd27b97 .elementor-social-icon {font-size: 20px;}
.elementor-348 .elementor-element.elementor-element-dd27b97 .elementor-social-icon:not(:last-child) {margin-right: 27px;}
.elementor-348 .elementor-element.elementor-element-1a947cf8 .elementor-spacer-inner {height: 24px;}
.elementor-348 .elementor-element.elementor-element-3545d02f {text-align: center;}
.elementor-348 .elementor-element.elementor-element-3545d02f.elementor-widget-heading .elementor-heading-title {color: #54595f;}
.elementor-348 .elementor-element.elementor-element-546d1974 .elementor-text-editor {text-align: left;}
.elementor-348 .elementor-element.elementor-element-34fddead .elementor-text-editor {text-align: left;}
.elementor-348 .elementor-element.elementor-element-18fbfff9 .elementor-text-editor {text-align: left;}
.elementor-348 .elementor-element.elementor-element-523f20f2 {text-align: center;}
.elementor-348 .elementor-element.elementor-element-523f20f2.elementor-widget-heading .elementor-heading-title {color: #54595f;}
.elementor-348 .elementor-element.elementor-element-205e5ff4 .elementor-text-editor {text-align: center;}
.elementor-348 .elementor-element.elementor-element-74bc8388 {text-align: center;}
.elementor-348 .elementor-element.elementor-element-74bc8388.elementor-widget-heading .elementor-heading-title {color: #54595f;}
.elementor-348 .elementor-element.elementor-element-1136479a .elementor-text-editor {text-align: center;}
.elementor-348 .elementor-element.elementor-element-d497f06 .elementor-spacer-inner {height: 59px;}
@media (max-width:767px) {.elementor-348 .elementor-element.elementor-element-163dd4d7 {line-height: 1.3em;}}
@media (min-width:768px) {.elementor-348 .elementor-element.elementor-element-3706c65 {width: 24.305%;}
	.elementor-348 .elementor-element.elementor-element-10f2d113 {width: 42.349%;}}