.elementor-342 .elementor-element.elementor-element-f49d8d1.elementor-widget-heading .elementor-heading-title {color: #54595f;}
.elementor-342 .elementor-element.elementor-element-745be6b0.elementor-column .elementor-column-wrap {align-items: center;}
.elementor-342 .elementor-element.elementor-element-745be6b0.elementor-column > .elementor-column-wrap > .elementor-widget-wrap {align-content: center;}
.elementor-342 .elementor-element.elementor-element-51b57a2b .elementor-text-editor {text-align: right;}
.elementor-342 .elementor-element.elementor-element-4310543b > .elementor-container {min-height: 79px;}
.elementor-342 .elementor-element.elementor-element-4310543b > .elementor-container:after {content: "";min-height: inherit;}
.elementor-342 .elementor-element.elementor-element-4310543b:not(.elementor-motion-effects-element-type-background), .elementor-342 .elementor-element.elementor-element-4310543b > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #f2f2f2;}
.elementor-342 .elementor-element.elementor-element-4310543b {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;margin-top: 0px;margin-bottom: 0px;padding: 0px 0px 0px 0px;}
.elementor-342 .elementor-element.elementor-element-4310543b > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-342 .elementor-element.elementor-element-18f19211 .elementor-spacer-inner {height: 10px;}
.elementor-342 .elementor-element.elementor-element-59470105 .elementor-text-editor {text-align: center;}
.elementor-342 .elementor-element.elementor-element-59470105 {color: #54595f;font-size: 25px;font-style: italic;line-height: .4em;}
.elementor-342 .elementor-element.elementor-element-acbc554 {text-align: center;}
.elementor-342 .elementor-element.elementor-element-acbc554.elementor-widget-heading .elementor-heading-title {color: #54595f;}
.elementor-342 .elementor-element.elementor-element-370d73ca .elementor-spacer-inner {height: 25px;}
.elementor-342 .elementor-element.elementor-element-210b15c6 .elementor-text-editor {text-align: center;}
.elementor-342 .elementor-element.elementor-element-210b15c6 {font-size: 24px;line-height: .3em;}
.elementor-342 .elementor-element.elementor-element-43486318 .elementor-text-editor {text-align: center;}
.elementor-342 .elementor-element.elementor-element-43486318 {font-size: 23px;}
.elementor-342 .elementor-element.elementor-element-91b27dc .elementor-spacer-inner {height: 50px;}
.elementor-342 .elementor-element.elementor-element-14d1436e {text-align: center;}
.elementor-342 .elementor-element.elementor-element-14d1436e .elementor-social-icon {font-size: 20px;}
.elementor-342 .elementor-element.elementor-element-14d1436e .elementor-social-icon:not(:last-child) {margin-right: 27px;}
.elementor-342 .elementor-element.elementor-element-5a4fd4ca .elementor-spacer-inner {height: 24px;}
.elementor-342 .elementor-element.elementor-element-2318c917 {text-align: center;}
.elementor-342 .elementor-element.elementor-element-2318c917.elementor-widget-heading .elementor-heading-title {color: #54595f;}
.elementor-342 .elementor-element.elementor-element-712f7a67 .elementor-text-editor {text-align: left;}
.elementor-342 .elementor-element.elementor-element-9592778 .elementor-text-editor {text-align: left;}
.elementor-342 .elementor-element.elementor-element-4d46b480 .elementor-text-editor {text-align: left;}
.elementor-342 .elementor-element.elementor-element-4dd63f17 {text-align: center;}
.elementor-342 .elementor-element.elementor-element-4dd63f17.elementor-widget-heading .elementor-heading-title {color: #54595f;}
.elementor-342 .elementor-element.elementor-element-31843d54 .elementor-text-editor {text-align: center;}
.elementor-342 .elementor-element.elementor-element-365e8b0c {text-align: center;}
.elementor-342 .elementor-element.elementor-element-365e8b0c.elementor-widget-heading .elementor-heading-title {color: #54595f;}
.elementor-342 .elementor-element.elementor-element-b6d38fd .elementor-text-editor {text-align: center;}
.elementor-342 .elementor-element.elementor-element-4862d55d .elementor-spacer-inner {height: 59px;}
@media (max-width:767px) {.elementor-342 .elementor-element.elementor-element-59470105 {line-height: 1.3em;}}
@media (min-width:768px) {.elementor-342 .elementor-element.elementor-element-32c695f5 {width: 24.305%;}
	.elementor-342 .elementor-element.elementor-element-745be6b0 {width: 42.349%;}}