.elementor-417 .elementor-element.elementor-element-c7d8030.elementor-widget-heading .elementor-heading-title {color: #54595f;}
.elementor-417 .elementor-element.elementor-element-fb231a1.elementor-column .elementor-column-wrap {align-items: center;}
.elementor-417 .elementor-element.elementor-element-fb231a1.elementor-column > .elementor-column-wrap > .elementor-widget-wrap {align-content: center;}
.elementor-417 .elementor-element.elementor-element-1e9e678 .elementor-text-editor {text-align: right;}
@media (min-width:768px) {.elementor-417 .elementor-element.elementor-element-e567e85 {width: 32.719%;}
	.elementor-417 .elementor-element.elementor-element-392b8cc {width: 24.918%;}
	.elementor-417 .elementor-element.elementor-element-fb231a1 {width: 42.349%;}}