.elementor-357 .elementor-element.elementor-element-79501f0b.elementor-widget-heading .elementor-heading-title {color: #54595f;}
.elementor-357 .elementor-element.elementor-element-3bf1a3ef.elementor-column .elementor-column-wrap {align-items: center;}
.elementor-357 .elementor-element.elementor-element-3bf1a3ef.elementor-column > .elementor-column-wrap > .elementor-widget-wrap {align-content: center;}
.elementor-357 .elementor-element.elementor-element-2d0745d5 .elementor-text-editor {text-align: right;}
.elementor-357 .elementor-element.elementor-element-5c707756 > .elementor-container {min-height: 79px;}
.elementor-357 .elementor-element.elementor-element-5c707756 > .elementor-container:after {content: "";min-height: inherit;}
.elementor-357 .elementor-element.elementor-element-5c707756:not(.elementor-motion-effects-element-type-background), .elementor-357 .elementor-element.elementor-element-5c707756 > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #f2f2f2;}
.elementor-357 .elementor-element.elementor-element-5c707756 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;margin-top: 0px;margin-bottom: 0px;padding: 0px 0px 0px 0px;}
.elementor-357 .elementor-element.elementor-element-5c707756 > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-357 .elementor-element.elementor-element-7cdadb1c .elementor-spacer-inner {height: 10px;}
.elementor-357 .elementor-element.elementor-element-6440ef3d .elementor-text-editor {text-align: center;}
.elementor-357 .elementor-element.elementor-element-6440ef3d {color: #54595f;font-size: 25px;font-style: italic;line-height: .4em;}
.elementor-357 .elementor-element.elementor-element-4cbeb4f1 {text-align: center;}
.elementor-357 .elementor-element.elementor-element-4cbeb4f1.elementor-widget-heading .elementor-heading-title {color: #54595f;}
.elementor-357 .elementor-element.elementor-element-4fb58859 .elementor-spacer-inner {height: 25px;}
.elementor-357 .elementor-element.elementor-element-1b24fad .elementor-text-editor {text-align: center;}
.elementor-357 .elementor-element.elementor-element-1b24fad {font-size: 24px;line-height: .3em;}
.elementor-357 .elementor-element.elementor-element-4f3b56b6 .elementor-text-editor {text-align: center;}
.elementor-357 .elementor-element.elementor-element-4f3b56b6 {font-size: 23px;}
.elementor-357 .elementor-element.elementor-element-5b1ac3d2 .elementor-spacer-inner {height: 50px;}
.elementor-357 .elementor-element.elementor-element-4d0187de {text-align: center;}
.elementor-357 .elementor-element.elementor-element-4d0187de .elementor-social-icon {font-size: 20px;}
.elementor-357 .elementor-element.elementor-element-4d0187de .elementor-social-icon:not(:last-child) {margin-right: 27px;}
.elementor-357 .elementor-element.elementor-element-595d971f .elementor-spacer-inner {height: 24px;}
.elementor-357 .elementor-element.elementor-element-25903468 {text-align: center;}
.elementor-357 .elementor-element.elementor-element-25903468.elementor-widget-heading .elementor-heading-title {color: #54595f;}
.elementor-357 .elementor-element.elementor-element-30248ff2 .elementor-text-editor {text-align: left;}
.elementor-357 .elementor-element.elementor-element-45df91c2 .elementor-text-editor {text-align: left;}
.elementor-357 .elementor-element.elementor-element-162d471e .elementor-text-editor {text-align: left;}
.elementor-357 .elementor-element.elementor-element-4e34f0c5 {text-align: center;}
.elementor-357 .elementor-element.elementor-element-4e34f0c5.elementor-widget-heading .elementor-heading-title {color: #54595f;}
.elementor-357 .elementor-element.elementor-element-556eab55 .elementor-text-editor {text-align: center;}
.elementor-357 .elementor-element.elementor-element-442bc734 {text-align: center;}
.elementor-357 .elementor-element.elementor-element-442bc734.elementor-widget-heading .elementor-heading-title {color: #54595f;}
.elementor-357 .elementor-element.elementor-element-78de33db .elementor-text-editor {text-align: center;}
.elementor-357 .elementor-element.elementor-element-5e22eb19 .elementor-spacer-inner {height: 59px;}
@media (max-width:767px) {.elementor-357 .elementor-element.elementor-element-6440ef3d {line-height: 1.3em;}}
@media (min-width:768px) {.elementor-357 .elementor-element.elementor-element-4fdc7aeb {width: 24.305%;}
	.elementor-357 .elementor-element.elementor-element-3bf1a3ef {width: 42.349%;}}