.elementor-353 .elementor-element.elementor-element-3799d747.elementor-widget-heading .elementor-heading-title {color: #54595f;}
.elementor-353 .elementor-element.elementor-element-2478dc25.elementor-column .elementor-column-wrap {align-items: center;}
.elementor-353 .elementor-element.elementor-element-2478dc25.elementor-column > .elementor-column-wrap > .elementor-widget-wrap {align-content: center;}
.elementor-353 .elementor-element.elementor-element-3ec8f4f4 .elementor-text-editor {text-align: right;}
.elementor-353 .elementor-element.elementor-element-418de7e1 > .elementor-container {min-height: 79px;}
.elementor-353 .elementor-element.elementor-element-418de7e1 > .elementor-container:after {content: "";min-height: inherit;}
.elementor-353 .elementor-element.elementor-element-418de7e1:not(.elementor-motion-effects-element-type-background), .elementor-353 .elementor-element.elementor-element-418de7e1 > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #f2f2f2;}
.elementor-353 .elementor-element.elementor-element-418de7e1 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;margin-top: 0px;margin-bottom: 0px;padding: 0px 0px 0px 0px;}
.elementor-353 .elementor-element.elementor-element-418de7e1 > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-353 .elementor-element.elementor-element-532dc962 .elementor-spacer-inner {height: 10px;}
.elementor-353 .elementor-element.elementor-element-2e3e7f83 .elementor-text-editor {text-align: center;}
.elementor-353 .elementor-element.elementor-element-2e3e7f83 {color: #54595f;font-size: 25px;font-style: italic;line-height: .4em;}
.elementor-353 .elementor-element.elementor-element-72dacdeb {text-align: center;}
.elementor-353 .elementor-element.elementor-element-72dacdeb.elementor-widget-heading .elementor-heading-title {color: #54595f;}
.elementor-353 .elementor-element.elementor-element-39e30614 .elementor-spacer-inner {height: 25px;}
.elementor-353 .elementor-element.elementor-element-21476e79 .elementor-text-editor {text-align: center;}
.elementor-353 .elementor-element.elementor-element-21476e79 {font-size: 24px;line-height: .3em;}
.elementor-353 .elementor-element.elementor-element-45e13c78 .elementor-text-editor {text-align: center;}
.elementor-353 .elementor-element.elementor-element-45e13c78 {font-size: 23px;}
.elementor-353 .elementor-element.elementor-element-51a37cd2 .elementor-spacer-inner {height: 50px;}
.elementor-353 .elementor-element.elementor-element-5addd63e {text-align: center;}
.elementor-353 .elementor-element.elementor-element-5addd63e .elementor-social-icon {font-size: 20px;}
.elementor-353 .elementor-element.elementor-element-5addd63e .elementor-social-icon:not(:last-child) {margin-right: 27px;}
.elementor-353 .elementor-element.elementor-element-406d309e .elementor-spacer-inner {height: 24px;}
.elementor-353 .elementor-element.elementor-element-41fd9269 {text-align: center;}
.elementor-353 .elementor-element.elementor-element-41fd9269.elementor-widget-heading .elementor-heading-title {color: #54595f;}
.elementor-353 .elementor-element.elementor-element-69f7e014 .elementor-text-editor {text-align: left;}
.elementor-353 .elementor-element.elementor-element-354682ad .elementor-text-editor {text-align: left;}
.elementor-353 .elementor-element.elementor-element-5ef5eee6 .elementor-text-editor {text-align: left;}
.elementor-353 .elementor-element.elementor-element-1916c0a5 {text-align: center;}
.elementor-353 .elementor-element.elementor-element-1916c0a5.elementor-widget-heading .elementor-heading-title {color: #54595f;}
.elementor-353 .elementor-element.elementor-element-7f11cf7f .elementor-text-editor {text-align: center;}
.elementor-353 .elementor-element.elementor-element-73f56d9c {text-align: center;}
.elementor-353 .elementor-element.elementor-element-73f56d9c.elementor-widget-heading .elementor-heading-title {color: #54595f;}
.elementor-353 .elementor-element.elementor-element-30cdfa47 .elementor-text-editor {text-align: center;}
.elementor-353 .elementor-element.elementor-element-6bbbab2b .elementor-spacer-inner {height: 59px;}
@media (max-width:767px) {.elementor-353 .elementor-element.elementor-element-2e3e7f83 {line-height: 1.3em;}}
@media (min-width:768px) {.elementor-353 .elementor-element.elementor-element-27583a1e {width: 24.305%;}
	.elementor-353 .elementor-element.elementor-element-2478dc25 {width: 42.349%;}}