.elementor-428 .elementor-element.elementor-element-755d432 .elementor-spacer-inner {height: 21px;}
.elementor-428 .elementor-element.elementor-element-833abc3 {text-align: center;}
.elementor-428 .elementor-element.elementor-element-833abc3.elementor-widget-heading .elementor-heading-title {color: #54595f;}
.elementor-428 .elementor-element.elementor-element-4e68206 .elementor-text-editor {text-align: left;}
.elementor-428 .elementor-element.elementor-element-dbb40fe .elementor-text-editor {text-align: left;}
.elementor-428 .elementor-element.elementor-element-a3a5a04 .elementor-text-editor {text-align: left;}
.elementor-428 .elementor-element.elementor-element-2171b5c {text-align: center;}
.elementor-428 .elementor-element.elementor-element-2171b5c.elementor-widget-heading .elementor-heading-title {color: #54595f;}
.elementor-428 .elementor-element.elementor-element-cf93cb8 .elementor-text-editor {text-align: center;}
.elementor-428 .elementor-element.elementor-element-ffae2a6 {text-align: center;}
.elementor-428 .elementor-element.elementor-element-ffae2a6.elementor-widget-heading .elementor-heading-title {color: #54595f;}
.elementor-428 .elementor-element.elementor-element-274d7a7 .elementor-text-editor {text-align: center;}
.elementor-428 .elementor-element.elementor-element-f619b4d .elementor-spacer-inner {height: 59px;}