.elementor-336 .elementor-element.elementor-element-7401b8cb.elementor-widget-heading .elementor-heading-title {color: #54595f;}
.elementor-336 .elementor-element.elementor-element-8a0affa.elementor-column .elementor-column-wrap {align-items: center;}
.elementor-336 .elementor-element.elementor-element-8a0affa.elementor-column > .elementor-column-wrap > .elementor-widget-wrap {align-content: center;}
.elementor-336 .elementor-element.elementor-element-55e282b7 .elementor-text-editor {text-align: right;}
.elementor-336 .elementor-element.elementor-element-5b5e9168 > .elementor-container {min-height: 79px;}
.elementor-336 .elementor-element.elementor-element-5b5e9168 > .elementor-container:after {content: "";min-height: inherit;}
.elementor-336 .elementor-element.elementor-element-5b5e9168:not(.elementor-motion-effects-element-type-background), .elementor-336 .elementor-element.elementor-element-5b5e9168 > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #f2f2f2;}
.elementor-336 .elementor-element.elementor-element-5b5e9168 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;margin-top: 0px;margin-bottom: 0px;padding: 0px 0px 0px 0px;}
.elementor-336 .elementor-element.elementor-element-5b5e9168 > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-336 .elementor-element.elementor-element-3b2f1387 .elementor-spacer-inner {height: 10px;}
.elementor-336 .elementor-element.elementor-element-2396fdde .elementor-text-editor {text-align: center;}
.elementor-336 .elementor-element.elementor-element-2396fdde {color: #54595f;font-size: 25px;font-style: italic;line-height: .4em;}
.elementor-336 .elementor-element.elementor-element-7b8a8d3f {text-align: center;}
.elementor-336 .elementor-element.elementor-element-7b8a8d3f.elementor-widget-heading .elementor-heading-title {color: #54595f;}
.elementor-336 .elementor-element.elementor-element-5521b2d2 .elementor-spacer-inner {height: 25px;}
.elementor-336 .elementor-element.elementor-element-7c717d99 .elementor-text-editor {text-align: center;}
.elementor-336 .elementor-element.elementor-element-7c717d99 {font-size: 24px;line-height: .3em;}
.elementor-336 .elementor-element.elementor-element-14b742c3 .elementor-text-editor {text-align: center;}
.elementor-336 .elementor-element.elementor-element-14b742c3 {font-size: 23px;}
.elementor-336 .elementor-element.elementor-element-2a4fec72 .elementor-spacer-inner {height: 50px;}
.elementor-336 .elementor-element.elementor-element-19a5bb3a {text-align: center;}
.elementor-336 .elementor-element.elementor-element-19a5bb3a .elementor-social-icon {font-size: 20px;}
.elementor-336 .elementor-element.elementor-element-19a5bb3a .elementor-social-icon:not(:last-child) {margin-right: 27px;}
.elementor-336 .elementor-element.elementor-element-35b18de4 .elementor-spacer-inner {height: 24px;}
.elementor-336 .elementor-element.elementor-element-75c0b14 {text-align: center;}
.elementor-336 .elementor-element.elementor-element-75c0b14.elementor-widget-heading .elementor-heading-title {color: #54595f;}
.elementor-336 .elementor-element.elementor-element-4c32d61b .elementor-text-editor {text-align: left;}
.elementor-336 .elementor-element.elementor-element-4fecc835 .elementor-text-editor {text-align: left;}
.elementor-336 .elementor-element.elementor-element-7367281c .elementor-text-editor {text-align: left;}
.elementor-336 .elementor-element.elementor-element-414764ce {text-align: center;}
.elementor-336 .elementor-element.elementor-element-414764ce.elementor-widget-heading .elementor-heading-title {color: #54595f;}
.elementor-336 .elementor-element.elementor-element-40aa956a .elementor-text-editor {text-align: center;}
.elementor-336 .elementor-element.elementor-element-50610d15 {text-align: center;}
.elementor-336 .elementor-element.elementor-element-50610d15.elementor-widget-heading .elementor-heading-title {color: #54595f;}
.elementor-336 .elementor-element.elementor-element-43c36774 .elementor-text-editor {text-align: center;}
.elementor-336 .elementor-element.elementor-element-383d4840 .elementor-spacer-inner {height: 59px;}
@media (max-width:767px) {.elementor-336 .elementor-element.elementor-element-2396fdde {line-height: 1.3em;}}
@media (min-width:768px) {.elementor-336 .elementor-element.elementor-element-1c3ad20 {width: 24.305%;}
	.elementor-336 .elementor-element.elementor-element-8a0affa {width: 42.349%;}}